<h3 class="text-center col-md-12">
	Development Environment <button id="btn-back" class='btn btn-default'>Back</button>
</h3>
<hr>
<div class="col-md-4"></div>
<div class="col-md-4">
	<p>
		<ul>
			<li class='c-panel'>
				Rate Builder - Dev  <button id='rateBuilderDev' class='btn btn-warning btn-c-panel'>Control Panel</button>
			</li>
			<li class='c-panel'>
				Rate Query - Dev  <button id='rateQueryDev' class='btn btn-warning btn-c-panel'>Control Panel</button>
			</li>
		</ul>
	</p>
</div>
<div class="col-md-4"></div>

