<h3 class="text-center col-md-12">
	Production Environment <button id="btn-back" class='btn btn-default'>Back</button>
</h3>
<hr>
<div class="col-md-4"></div>
<div class="col-md-4">
	<p>
		<ul>
			<li class='c-panel'>
				Rate Builder - Pro  <button id='rateBuilderPro' class='btn btn-warning btn-c-panel'>Control Panel</button>
			</li>
			<li class='c-panel'>
				Rate Query - Pro  <button id='rateQueryPro' class='btn btn-warning btn-c-panel'>Control Panel</button>
			</li>
		</ul>
	</p>
</div>
<div class="col-md-4"></div>

